##定义初始变量
$!{mybatisCodehelper.vm}
#set($daoName = $tool.append($tableInfo.name, ${daoSuffix}))
##设置回调
#set($daoSavePath = $tool.append(${mapperSrcFolder},"/",${mapperPackageName.replace(".","/")}))

$!callback.setSavePath($daoSavePath)
$!callback.setFileName($tool.append($daoName, ".java"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

package $!{mapperPackageName};

import $!{modelPackageName}.$!{entityName};
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * $!{tableInfo.comment}($!{entityName})表数据库访问层
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{daoName} {

    /**
     * 通过ID查询单条数据
     *
     * @param $!pk.name 主键
     * @return 实例对象
     */
    $!{entityName} selectByPrimaryKey($!pk.shortType $!pk.name);

    /**
     * 统计总行数
     *
     * @param $!tool.firstLowerCase($!{entityName}) 查询条件
     * @return 总行数
     */
    long count($!{entityName} $!tool.firstLowerCase($!{entityName}));

    /**
     * 新增数据
     *
     * @param $!tool.firstLowerCase($!{entityName}) 实例对象
     * @return 影响行数
     */
    int insert($!{entityName} $!tool.firstLowerCase($!{entityName}));


    /**
     * 新增数据
     *
     * @param $!tool.firstLowerCase($!{entityName}) 实例对象
     * @return 影响行数
     */
    int insertSelective($!{entityName} $!tool.firstLowerCase($!{entityName}));

    /**
     * 批量新增数据（MyBatis原生foreach方法）
     *
     * @param entities List<$!{entityName}> 实例对象列表
     * @return 影响行数
     */
    int insertBatch(@Param("entities") List<$!{entityName}> entities);

    /**
     * 批量新增或按主键更新数据（MyBatis原生foreach方法）
     *
     * @param entities List<$!{entityName}> 实例对象列表
     * @return 影响行数
     * @throws org.springframework.jdbc.BadSqlGrammarException 入参是空List的时候会抛SQL语句错误的异常，请自行校验入参
     */
    int insertOrUpdateBatch(@Param("entities") List<$!{entityName}> entities);

    /**
     * 修改数据
     *
     * @param $!tool.firstLowerCase($!{entityName}) 实例对象
     * @return 影响行数
     */
    int update($!{entityName} $!tool.firstLowerCase($!{entityName}));

    /**
     * 通过主键删除数据
     *
     * @param $!pk.name 主键
     * @return 影响行数
     */
    int deleteByPrimaryKey($!pk.shortType $!pk.name);

}
