##定义初始变量
$!{mybatisCodehelper.vm}
#set($serviceName = $tool.append($tableInfo.name, "Service"))
##设置回调
#set($serviceSavePath = $tool.append(${serviceSrcFolder},"/",${servicePackageName.replace(".","/")}))

$!callback.setSavePath($serviceSavePath)
$!callback.setFileName($tool.append($serviceName, ".java"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

package $!{servicePackageName};

import $!{modelPackageName}.$!{entityName};

/**
 * $!{tableInfo.comment}($!{tableInfo.obj.name})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{serviceName} {

    /**
     * 通过ID查询单条数据
     *
     * @param $!pk.name 主键
     * @return 实例对象
     */
    $!{entityName} queryById($!pk.shortType $!pk.name);

    /**
     * 新增数据
     *
     * @param $!tool.firstLowerCase($!{entityName}) 实例对象
     * @return 实例对象
     */
    $!{entityName} insert($!{entityName} $!tool.firstLowerCase($!{entityName}));

    /**
     * 修改数据
     *
     * @param $!tool.firstLowerCase($!{entityName}) 实例对象
     * @return 实例对象
     */
    $!{entityName} update($!{entityName} $!tool.firstLowerCase($!{entityName}));

    /**
     * 通过主键删除数据
     *
     * @param $!pk.name 主键
     * @return 是否成功
     */
    boolean deleteById($!pk.shortType $!pk.name);

}
