$!{mybatisCodehelper.vm}
$!{mybatisSupport.vm}

##设置保存名称与保存位置
#set($XmlSavePath = $tool.append(${mapperXmlFolder},"/",${mapperXmlPackage.replace(".","/")}))
$!callback.setSavePath($XmlSavePath)
$!callback.setFileName($tool.append($!{tableInfo.name}, $!{mapperSuffix},".xml"))

#set($logicDelete=false)
#foreach($column in $tableInfo.fullColumn)
    #if($column.obj.name.equals("del_flag"))
        #set($logicDelete=true)
    #end
#end

#set($daoName = $tool.append($tableInfo.name, ${daoSuffix}))


    ##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapperPackageName}.${daoName}">

    <resultMap id="BaseResultMap" type="$!{modelPackageName}.$!{entityName}">
        <!--@Table $!{tableInfo.obj.name}-->
#foreach($column in $tableInfo.pkColumn)
        <id column="${column.obj.name}" jdbcType="${column.ext.jdbcType}" property="$column.name"/>
#end
#foreach($column in $tableInfo.otherColumn)
        <result column="$!column.obj.name" jdbcType="${column.ext.jdbcType}" property="$column.name"/>
#end
    </resultMap>

    <sql id="Base_Column_List">
        #allSqlColumn()
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from $!tableInfo.obj.name
        where $!pk.obj.name = #{$!pk.name,jdbcType=${pk.ext.jdbcType}}#if($logicDelete) and del_flag = 0
#end
    </select>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey">
#if($logicDelete)
        update $!{tableInfo.obj.name} set del_flag = 1 where $!pk.obj.name = #{$!pk.name,jdbcType=${pk.ext.jdbcType}}
#else
        delete from $!{tableInfo.obj.name} where $!pk.obj.name = #{$!pk.name,jdbcType=${pk.ext.jdbcType}}
#end
    </delete>


    <!--新增所有列-->
    <insert id="insert" keyProperty="$!pk.name" useGeneratedKeys="true">
        insert into $!{tableInfo.obj.name}(#foreach($column in $tableInfo.otherColumn)$!column.obj.name#if($foreach.hasNext), #end#end)
            values (#foreach($column in $tableInfo.otherColumn)#{$!{column.name}}#if($foreach.hasNext), #end#end)
    </insert>


    <insert id="insertSelective" keyProperty="$!pk.name" useGeneratedKeys="true">
        insert into $!{tableInfo.obj.name}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $tableInfo.otherColumn)
                <if test="$!column.name != null#if($column.type.equals("java.lang.String")) and $!column.name != ''#end">
                    $!{column.obj.name},
                </if>
#end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($column in $tableInfo.otherColumn)
            <if test="$!column.name != null#if($column.type.equals("java.lang.String")) and $!column.name != ''#end">
                #{$!column.name},
            </if>
#end
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update $!{tableInfo.obj.name}
        <set>
#foreach($column in $tableInfo.otherColumn)
            <if test="$!column.name != null#if($column.type.equals("java.lang.String")) and $!column.name != ''#end">
                $!column.obj.name = #{$!column.name},
            </if>
#end
        </set>
        where $!pk.obj.name = #{$!pk.name}
    </update>



    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          #allSqlColumn()

        from $!{tableInfo.obj.parent.name}.$!tableInfo.obj.name #if($logicDelete) where del_flag = 0
#end
    </select>
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from $!tableInfo.obj.name
        <where>
#foreach($column in $tableInfo.fullColumn)
            <if test="$!column.name != null#if($column.type.equals("java.lang.String")) and $!column.name != ''#end">
                and $!column.obj.name = #{$!column.name}
            </if>
#end#if($logicDelete)            and del_flag = 0
#end
        </where>
    </select>


    <insert id="insertBatch" keyProperty="$!pk.name" useGeneratedKeys="true">
        insert into $!{tableInfo.obj.name}(#foreach($column in $tableInfo.otherColumn)$!column.obj.name#if($foreach.hasNext), #end#end)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#foreach($column in $tableInfo.otherColumn)#{entity.$!{column.name}}#if($foreach.hasNext), #end#end)
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="$!pk.name" useGeneratedKeys="true">
        insert into $!{tableInfo.obj.name}(#foreach($column in $tableInfo.otherColumn)$!column.obj.name#if($foreach.hasNext), #end#end)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#foreach($column in $tableInfo.otherColumn)#{entity.$!{column.name}}#if($foreach.hasNext), #end#end)
        </foreach>
        on duplicate key update
        #foreach($column in $tableInfo.otherColumn)$!column.obj.name = values($!column.obj.name)#if($foreach.hasNext),
        #end#end

    </insert>
</mapper>
