#set($author="bruce")
#set($javamodelSrcFolder="${projectPath}/src/main/java")
#set($modelPackageName="example.springdata.jpa.model")
#set($repositorySrcFolder="${projectPath}/src/main/java")
#set($repositoryPackageName="example.springdata.jpa.querybyexample.repository")
#set($serviceImplSrcFolder="${projectPath}/src/main/java")
#set($serviceImplPackageName="example.springdata.jpa.querybyexample.service")
#set($dtoSrcFolder="${projectPath}/src/main/java")
#set($dtoPackageName="example.springdata.jpa.querybyexample.dto")
#set($mapperSrcFolder="${projectPath}/src/main/java")
#set($mapperPackageName="example.springdata.jpa.querybyexample.mapper")
#set($controllerSrcFolder="${projectPath}/src/main/java")
#set($controllerPackageName="example.springdata.jpa.querybyexample.controller")
#set($useLombok=true)
#set($useJarkataAnntation=true)
#set($useSwagger=false)
#set($useOpenApi=false)
#set($useMapStruct=true)
#set($entityName=${tableInfo.name})
#set($repositoryClassName=$tool.append($tableInfo.name,"Repository"))
#set($serviceClassName=$tool.append($tableInfo.name,"Service"))
#set($dtoClassName=$tool.append($tableInfo.name,"Dto"))
#set($mapperClassName=$tool.append($tableInfo.name,"Mapper"))
#set($controllerClassName=$tool.append($tableInfo.name,"Controller"))

#set($pkName=$tableInfo.pkColumn.get(0).name)
#set($pkType=$tableInfo.pkColumn.get(0).shortType)

###if($tableInfo.obj.name.startsWith("f_"))
##    #set($tableInfo.name=${tableInfo.name.substring(1)})
###end
